@import url(reset.css);
body{
	display: flex;

}
.wrapper{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:200px auto;
}
form{
	display: flex;
	flex-direction: column;
}
input{
	width: 500px;
	margin-top: 10px;
}
.temp, .windSpeed{
	display: flex;
}
.tempResult, .windSpeedResult{
	align-self: center;
	margin-left: 
}